@media only screen and (max-width: 767.98px) {

    /* styles for screens less than 767px wide */
    .main-content {
        display: unset !important;
        max-width: 100vw !important;
    }

    .mobile-alt {
        display: flex !important;
    }

    .horizontal-nav {
        display: none !important;
    }

    #hamburger {
        display: block !important;
        color: black;
    }

    .show {
        display: block !important;
    }

    .navbar {
        display: flex;
        margin-bottom: 2em;
    }

    .dropdown {
        display: none;
    }

    .introParagraph {
        min-height: unset !important;
        margin-left: 0px !important;
        margin: 3px !important;
        padding: 5px !important;
    }

    .portrait {
        max-width: 50% !important;
        margin-right: 0px !important;
        margin: 3px !important;
        margin-left: 25% !important;
    }

    .link-box {
        padding-left: 20px !important;
        padding-right: 20px !important;
        text-align: center !important;
        min-height: 120px !important;
    }

    .nav-item {
        max-height: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* styles for screens between 768px and 991px wide */
    .introParagraph {
        max-width: 80%;
    }

    .portrait {
        max-width: 20%;
    }
}

@media only screen and (min-width: 992px) {

    /* styles for screens greater than 992px wide */
    .introParagraph {
        max-width: 65%;
    }

    .portrait {
        max-width: 30%;
    }
}

html,
body {
    height: 100%;
    font-size: large;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-image: url(imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    text-align: center;
    padding: 5px;
    margin: 0;
    margin-bottom: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

footer {
    padding: 10px;
}

.main-content {
    min-height: calc(100vh - 156.63px - 66.8px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.introParagraph {
    flex: 1;
    min-height: 100%;
    margin-left: 5px;
    background-color: rgba(88, 88, 88, 0.8);
    text-align: justify;
    padding: 30px;
}

.portrait {
    flex: 1;
    height: auto;
    margin-right: 5px;
}

.link-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: calc(100vw / 4);
    margin: 5px;
    background-color: rgba(84, 84, 84, 0.8);
    height: 80px;
}

.horizontal-nav {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    background-color: rgb(38, 38, 38);
    padding: 5px;
}

.nav-item {
    border: 1px solid rgba(107, 107, 107, 0.856);
    background-color: rgb(84, 84, 84);
    padding: 5px;
    margin-bottom: 0;
    margin-right: 3px;
    min-height: 30px;
    border-radius: 6%;
}

.navbar {
    position: relative;
}

#hamburger {
    cursor: pointer;
    display: none;
    font-size: 2em;
    margin-left: 1em;
}

#dropdownID {
    background-color: black;
    display: none;
    position: absolute;
    top: 100%;
    margin-left: 2em;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.show-dropdown {
    display: block;
}