html,body
{
    height: 100%;
    font-size: large;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
body
{
    background-image: url(imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header
{
    text-align: center;
    padding: 5px;
    margin: 0;
    margin-bottom: 0;
}
.introParagraph
{
    width: 65%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(88, 88, 88, 0.8);
    text-align: justify;
    padding: 30px;
}
.portrait {
    width: 30%;
    height: auto;
    margin-right: 5px;
}
.main-content
{
    min-height: calc(100vh - 156.63px - 66.8px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.horizontal-nav {
    margin-top: 0;
    list-style-type: none; /* remove bullet points */
    display: flex; /* display list items in a row */
    background-color: rgb(38, 38, 38);
    padding: 1em;
    margin-bottom: 0;
}
.horizontal-nav li {
    padding: 0 10px; /* add some space between list items */
}
.nav-item
{
    border: 1px solid #FFFFFF;
    padding: 5px;
    margin-bottom: 0;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
footer {
    padding: 10px;
}
