---
---

@import "minima";

#hi-there- {
  display: none;
}

body {
 font-family: "Lucida Console", "Courier New", monospace;
 background-color : LightGray;
}

.site-title {
  font-size: xx-large;
}
.menu-icon {
 display: none; 
}
.site-nav {
  display: none;
}